// Website Theme
$theme: #c90016;

.jumbotron
{
    color: #30393a;
    background: $theme;

    > h1
    {
        color: white;
        font-weight: bold;
    }
}

a
{
    background: $theme;
}

.container
{
    img
    {
        width: 100%;
    }
}