// Website Theme
$theme: #0084b4;

.jumbotron
{
    color: #30393a;
    background: $theme;

    > h1
    {
        color: white;
        font-weight: bold;
    }
}

.container
{
    img
    {

        width: 100%;
    }
}